body {
    font-family: sans-serif;
    background-color: #0E1014;
    color: #000;
    font-size: 16px;
    margin: 0;
    line-height: 1.3;
}

.container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    position: absolute;
    margin-top: 47px;
    width: 100%;
    z-index: 3;
}

.header_navbar {
    display: flex;
    justify-content: space-between;
}


.header_navbar_links {
    display: flex;
    align-items: center;
    color: #E4E5EA;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header_navbar_links a {
    margin-right: 30px;
    color: #E4E5EA;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header_navbar_links a:last-child {
    margin-right: 0;
}



.header_navbar_phone a:first-child {
    margin-right: 70px;
}

.header_navbar_phone a:last-child {
    margin-right: 0;
}

.header_navbar_phone a {
    margin-right: 30px;
    color: #E4E5EA;
    text-align: right;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header_title p {
    margin-top: 10px;
    width: 165px;
    color: #E4E5EA;
    font-family: sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.hero {
    position: relative;
}


.hero_red {
    position: absolute;
    left: 0;
    z-index: 1;
}

.hero_blur {
    background: linear-gradient(to bottom, rgba(77, 77, 77, 0.13) 50%, #0e101400);
    backdrop-filter: blur(12.2px);
    -webkit-backdrop-filter: blur(12.2px);
    width: 600px;
    height: 700px;
    position: absolute;
    z-index: 2;
}


.hero_content {
    display: flex;
    justify-content: space-between;
}

.hero_left {

    position: relative;
    z-index: 3;

 position: relative;

}

.hero_left h1 {
    z-index: 2;
    margin-top: 210px;

    color: #E4E5EA;
    font-family: sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero_left span {
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.hero_left p {
    max-width: 275px;
    margin-top: 30px;
    color: #E4E5EA;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero_left_btn {
    margin-top: 110px;
}

.hero_center {
    position: relative;
    width: 50%;
}

.hero_center_dots {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 120px;
    height: 100%;
}

.hero_center_yellow {
    position: absolute;
    right: -20px;
    bottom: -350px;
    width: 100%;
    z-index: 5;
}

.hero_center_purple {
    position: absolute;
    width: 100%;
}

.hero_center_purpleball {
    position: absolute;
    top: 0;
    right: 100px;
}

.hero_center_redballup {
    position: absolute;
    top: 65px;
    left: 70px;
}

.hero_center_redball {
    position: absolute;
    right: 150px;
    bottom: 30px;
    z-index: 0;
    opacity: 0.3;
    width: 30px;
    height: 30px;
}

.hero_center_sphere {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 1;
}

.hero_center_minisphere {
    position: absolute;
    bottom: -70px;
    left: 180px;
    z-index: 4;
    opacity: 0.8;
}

.hero_right {
    margin-top: 224px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero_right h3 {
    color: #E4E5EA;
    text-align: right;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero_right span {
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.hero_right_titles {
    display: flex;
    margin-top: 40px;
    gap: 32px;
}

.hero_right_title {
    width: 164px;
}

.hero_right_title h4 {
    color: #E4E5EA;
    text-align: right;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.hero_right_title p {
    color: #E4E5EA;
    text-align: right;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
}



.hero_right button {
    margin-top: 61px;
    color: #E4E5EA;
    background: #4077F3;
    width: 262px;
    height: 61px;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}







